/* Base Application Styles */
body {
  font-size: 13px;
}

button:focus,a:focus {
  outline: none!important;
}

.index {
  padding-bottom: 80px;
  /*background: url(../images/double_lined.png) repeat;*/
}

.main {
  padding-left: 90px;
}

@media (max-width: 767px) {
  .main {
    padding-left: 0;
  }
}