#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom,#443e4a 0,#110617 100%);
  z-index: 200;
  ul {
    &>li {
      display: inline-block;
      width: 20%;
      &>a {
        text-align: center;
        font-size: 12px;
        color: #ababab;
        padding: 10px;
        position: relative;
        &:hover,&:visited,&:active,&:focus {
          color: #e0e6e2;
          background: #222;
          text-decoration: none;
        }
      }
    }
    &>.active {
      a {
        color: #fff;
        border-top: 3px solid #fc6a00;
        background: #222;
      }
    }
  }
  .glyphicon {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
  }
}
