// 归档列表样式
#error-list-archive {
  p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .form-inline {
    margin-bottom: 20px;
  }

  .row-changed {
    opacity: .6;
  }
}
