// 错误列表样式
#error-list-error {
  margin-top: 10px;

  p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .form-inline {
    margin-bottom: 20px;
  }
}
