// 首页的错误列表样式
.home-data-list {
  .list-group-item-heading {
    font-weight: normal;

    .glyphicon {
      margin-right: 5px;
    }

    a {
      display: inline-block;
      margin-right: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 85%;
    }

    a,
    .glyphicon {
      vertical-align: middle;
    }
  }

  .page-url {
    margin-bottom: 5px;
    overflow: hidden;
    padding-right: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
